<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
{#            {{ charts_stylesheets() }}#}
        {%  endblock stylesheets %}
    </head>
    <body>
        <div class="container">
            {% block body %}
            {%  endblock body %}
        </div>

        {% block scripts %}
            {{ charts_scripts() }}
        {%  endblock scripts %}
    </body>
</html>
